<!-- Volunteer Header Section -->
<section class="volunteer-header-section">
    <h1>{{  volunteer_header }}</h1>
</section>

<section class="volunteer-form">
    
    <div class="volunteer-content">
        <h2>{{ volunteer_content_header }}</h2>
        <p>{{ volunteer_content_para }}</p>

        <a><i class="fa-solid fa-location-dot"></i>{{ volunteer_content_links[0] }}</a>

        <a href=""><i class="fa-solid fa-envelope"></i>{{ volunteer_content_links[1] }}</a>

        <a href="https://www.facebook.com/PWDMISSION"><i class="fa-brands fa-facebook"></i>{{ volunteer_content_links[2] }}</a>  

    </div>    
    <app-volunteer-form />

</section>
