<footer class="footer-container">
    <!-- Main footer Contaienr -->
    <div class="main-footer">
        <!-- Logo and Paragraph Container -->
        <div class="logo-para-container">
            <a routerLink="/"><img src="assets/logo/logo.jpg" alt="PWD Welfare Society Inc. Logo"></a>
            <p>{{ footer_para }}</p>
        </div>
        <!-- Quick Email input Container -->
        <div class="email-form">
            <form (submit)="addEmail($event)">
                <label for="subscriberEmail">Get Monthly Updates:</label>
                <input type="email" id="subscriberEmail" placeholder="Your Email" required>
                <button class="footer-btn" type="submit">Sign up!</button>
            </form>
        </div>
        <!-- Quick Links Footer Container -->
        <div class="footer-link">
            <h6>Quick Links</h6>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/event">EVENTS</a>
            <a href="/contact">CONTACT</a>
            <a href="/login">LOGIN</a>
        </div>
    </div>
</footer>
<!-- Copy Rights Container -->
<div class="copyright">
    <p>&copy; {{ footer_rights }}</p>
</div>
