<header class="header">
    <div class="logo">
        <a routerLink="/"><img src="assets/logo/logo.jpg" alt="PWD Welfare Society Inc. Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a routerLink='/'>HOME</a></li>
            <li><a routerLink='/about'>ABOUT US</a></li>
            <li><a routerLink='/event'>EVENTS</a></li>
            <li><a routerLink='/contact'>CONTACT</a></li>
        </ul>
    </nav>
    <div class="volunteer-btn-container">
        <a routerLink="/volunteer"><button class="volunter-btn">VOLUNTEER NOW</button></a>
    </div>
</header>