/* ======================================== Event Header Section Style ======================================== */
.event-header-section{
    background-image: var(--cont-color),url(../../../../../public/assets/Cover/Cover.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: var(--default-font-color);
    height: 23vh;
    padding: var(--big-pd);
}

.event-header-container {
    width: 90%;
    margin: var(--header-mg);
    padding: var(--spacer-pd);
    text-align: center; /* Center text in header for mobile */
}

.event-header-container h1{
    font-size: var(--biggest-font-size);
}

.event-header-container p{
    font-size: var(--medium-font-size);
    color: var(--default-font-color);
}

/* ======================================== Content Image Section Style ======================================== */


.content-image-container{
    width: 90%;
    margin: var(--header-mg);
}

.content-image-container img{
    width: 50%;
    display: block;
    height: auto;
    margin: var(--header-mg);
}

/* ======================================== Event content Section Style ======================================== */
.event-content-info{
    width: 90%;
    margin: var(--header-mg);
}

.event-content-info h2, h3, p, a{
    color: var(--primary-color);
    text-decoration: none;
}

.event-content-info h2, h3{
    padding: var(--spacer-pd);
}

.event-content-info h2{
    font-size: var(--bigger-font-size);
}

.event-content-info h3{
    font-size: var(--big-font-size);
}

.event-content-info p{
    font-size: var(--medium-font-size);
    word-wrap: break-word;
}

.event-content-btn-container{
    padding: var(--footer-pd);
}

.event-btn {
    padding: var(--btn-pd);
    font-weight: var(--font-mid-bold);
    display: block;
    font-size: var(--normal-font-size);
    background-color: var(--secondary-color);
    color: var(--default-font-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.event-btn:hover {
    transform: scale(1.1);
}


/* Media Query for Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .content-image-container img{
      width: 70%; /* changed from 90% to 70% */
    }
    .content-image-container img{
        margin: var(--header-mg) auto;
    }
    .event-btn {
        width: 100%;
    }
    
    .event-content-info{
        text-align: center; /*center text in the event content info*/
    }

    .event-content-info h2,
    .event-content-info h3 {
        font-size:  small;
    }

}