/* ======================================== Login Page  Section Style ======================================== */

.login-header-section{
    color: var(--default-font-color);
    background-image: var(--cont-color),url(../../../public/assets/Cover/Cover.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: var(--default-font-color);
    height: 24vh;
    padding: var(--spacer-pd);
    text-align: center;
    font-size: var(--biggest-font-size);
}

.login-header-section h1{
    padding: var(--spacer-pd);
}

/* ======================================== Login Form Page Section Style ======================================== */


.login-form{
    width: 80%;
    margin: var(--header-pd);
    display: flex;
    gap: 5%;
    padding: var(--big-pd);
}

form{
    width: 50%;
    margin: var(--spacer-pd);
}

a{
    text-decoration: none;
    color: var(--default-font-color);
}

.icon-container{
    text-align: center;
    width: 100%;
}

.icon-container i{
    font-size: var(--icon-size);
    color: var(--secondary-color);
}

.contact-form h2{
    color: var(--primary-color);
    font-size: var(--big-font-size);
    font-weight: var(--font-mid-bold);
}

label {
    font-size: var(--medium-font-size);
    font-weight: var(--font-mid-bold);
    color: var(--primary-color);

}

input{ 
    padding: var(--form-inp);
    border-radius: 4px;
    width: 95%;
    color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    margin: var(--spacer-pd);
    font-weight: var(--font-mid-bold);
}

::placeholder {
    color: var(--secondary-color);
    opacity: 0.6;
}

.button-container{
    display: flex;
    gap: 10%;
    padding: var(--spacer-pd);
}

.login-btn, .cancel-btn {
    padding: var(--btn-pd);
    margin: var(--big-pd);
    font-weight: var(--font-mid-bold);
    display: block;
    width: 80%;
    font-size: var(--normal-font-size);
    background-color: var(--secondary-color);
    color: var(--default-font-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.login-btn:hover, .cancel-btn:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}


img{
    width: 50%;
    height: auto;
}

