/* ======================================== Contact Form Section Style ======================================== */
i{
    padding: var(--icon-pd);
}
form{
    width: 100%;
    
}

.contact-form h2{
    color: var(--primary-color);
    font-size: var(--big-font-size);
    font-weight: var(--font-mid-bold);
}

label {
    font-size: var(--medium-font-size);
    font-weight: var(--font-mid-bold);
    color: var(--primary-color);

}

input, textarea{ 
    padding: var(--form-inp);
    border-radius: 4px;
    width: 95%;
    color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    margin: var(--spacer-pd);
    font-weight: var(--font-mid-bold);
}

textarea{
    height: 20vh;
}

::placeholder {
    color: var(--secondary-color);
    opacity: 0.6;
}

.volunteer-btn {
    padding: var(--btn-pd);
    font-weight: var(--font-mid-bold);
    display: block;
    width: 100%;
    margin: var(--header-mg);
    font-size: var(--normal-font-size);
    background-color: var(--secondary-color);
    color: var(--default-font-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.volunteer-btn:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}
