<!-- Introduction Section -->
<section class="intro-section">
    <!-- Introduction header-->
    <div class="intro-container">
        <h1>{{ intro_header }}</h1>
        <p>{{ intro_para }}</p>
        <button class="intro-btn">Learn More</button>
    </div>
    <div class="intro-img">
        <img src="assets/home/Home_intro_img.png" alt="home Introduction image">
    </div>
</section>

<!-- Post Section -->
<section class="post-section">
    <!-- Post header-->
    <div class="post-header">
        <h2>{{ post_header }}</h2>
        <p>{{ post_para }}</p>
    </div>
    <div class="post-container">
        <app-home-events />
    </div>
    <a href="/event"><button class="post-btn">Read More</button></a>
</section>


<!-- About Section -->
<section class="about-section">
    <!-- About header -->
    <div class="about-header">
        <h3>{{ about_header }}</h3>
    </div>
    <div class="about-para">
        <p>{{ about_para }}</p>
    </div>
</section>

<!-- Empower Section -->
<section class="empower-section">
    <div class="emp-img-cont">
        <img src="assets/home/Empower_img.png" alt="Empower Image">
    </div>
    <div class="emp-header">
        <h4>{{ emp_header }}</h4>
        <p>{{ emp_para }}</p>
    </div>
</section>

<!-- Quick Contact header-->
<section class="quick-contact-section">
    <div class="quick-content">
        <div class="quick">
            <h5>{{ quick_contact_header }}</h5>
            <p>{{ quick_contact_para }}</p>
            <button class="quick-btn">Contact us</button>
        </div>
    </div>
    <img src="assets/home/quick_img.jpg" alt="Quick Section Image">
</section>